{% extends 'base.html' %}

{% block nav %}
<a href="/contato">Contato</a>
<a href="/servicos">Serviços</a>
<a href="{{url_for('root')}}">Principal</a>
{% endblock %}

{% block conteudo %}
<main class="principal">
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, ab quaerat. Commodi, ipsa perferendis adipisci minus, vero odit enim dolorem dicta reiciendis est tempora dolores illum vitae molestiae? Praesentium, pariatur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore amet porro similique atque officia dolor, optio in itaque. Alias sint ullam doloribus itaque ad modi totam odio fugiat at.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptate recusandae cumque rem vel, nam delectus consequuntur nesciunt quas sapiente quia asperiores ea perspiciatis et error facilis eveniet corrupti modi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta quis ullam sed harum id ducimus obcaecati? Perferendis repellat ad itaque, provident, vero voluptatibus ipsa inventore rerum ea fugit doloribus?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, ab quaerat. Commodi, ipsa perferendis adipisci minus, vero odit enim dolorem dicta reiciendis est tempora dolores illum vitae molestiae? Praesentium, pariatur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore amet porro similique atque officia dolor, optio in itaque. Alias sint ullam doloribus itaque ad modi totam odio fugiat at.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptate recusandae cumque rem vel, nam delectus consequuntur nesciunt quas sapiente quia asperiores ea perspiciatis et error facilis eveniet corrupti modi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta quis ullam sed harum id ducimus obcaecati? Perferendis repellat ad itaque, provident, vero voluptatibus ipsa inventore rerum ea fugit doloribus?
        </p>
    </section>
</main>
{% endblock %}