<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="static/style_index.css">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/base.css">
</head> 
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">Selecione a Página Desejada:</h1>
    </header>
    <nav class="nav">
        <ul class="nav__lista">
            <li><a href="/formulario_usuario">Cadastro de Usuários</a></li>
            <li><a href="/formulario_cliente">Cadastro de Clientes</a></li>
        </ul>
    </nav>
    <main class="principal">

    </main>
</body>
</html>