<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">Sobre</h1>
    </header>
    <nav class="navegacao">
        <a href="/sobre">Sobre</a>
        <a href="/servicos">Serviços</a>
        <a href="/">Principal</a>
    </nav>
    {% block conteudo %}{% endblock %}
    <footer class="rodape">
        <p>Site criado por <a href="#">@LeoCarrijo</a></p>
    </footer>
</body>
</html>