<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabuada</title>
</head>
<body>
    <h1>Aprenda Tabuada</h1>
    <form action="/calcula_tabuada" method="post">
        <label for="numero">Digite o número da tabuada que deseja visualizar</label>
        <input type="number" name="numero" id="numero"><br>
        <input type="submit" value="Exibir Tabuada">
        {% if resultado %}
        <table>
            <tr>
                <th>Numero</th>
                <th>X</th>
                <th>Numero</th>
                <th>=</th>
                <th>Resultado</th>
            </tr>
            {% for x in resultado.valores %}
            <tr>
                <td align="center">{{resultado.tabuada_do}}</td>
                <td>x</td>
                <td align="center">{{loop.index0}}</td>
                <td align="center">=</td>
                <td align="center">{{x}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</body>
</html>