<!DOCTYPE html>
<html lang="pt-BT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
</head>
<body>
    <table>
        <tr>
            <th>nome</th>
            <th>cpf</th>
            <th>email</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario[0]}}</td>
            <td>{{usuario[1]}}</td>
            <td>{% if usuario[2] is not none %}
                {{usuario[1]}}
            {% else %}
                Vazio
            {% endif %}</td>
        </tr>
    </table>
</body>
</html>