<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="static/style_formulario.css">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/base.css">
</head> 
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">Cadastro do Usuários</h1>
    </header>
    <main class="principal">
        <form action="/cadastrar_usuario" class="formulario" method="post">
            <div class="caixa">
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Seu Nome" required>
            </div>
            <div class="caixa">
                <label for="cpf">CPF: </label>
                <input type="text" name="cpf" onkeyup="formatarCPF()" id="cpf" placeholder="123.123.123-12">
            </div>
            <div class="caixa">
                <label for="email">E-mail: </label>
                <input type="email" name="email" id="email" pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/" placeholder="seuemail@dominio.com" required>
            </div>
            <div class="caixa">
                <label for="senha">Senha: </label>
                <input type="password" name="senha" id="senha" placeholder="********">
            </div>
            <div class="caixa__botoes">
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpar Campos">
            </div>
        </form>
        {% if opcao == 'cadastrado' %}
        <div class="resposta">
            <h2>Usuário cadastrado com sucesso!</h2>
        </div>
        {% endif %}
        {% if acao == 'listar' %}
        <table class="table" action="/selecionar_usuarios" method='post'>
            <tr>
                <th>nome</th>
                <th>CPF</th>
                <th>email</th>
                <th>excluir</th>
                <th>alterar</th>
            </tr>
            {% for user in usuarios %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{% if user[2] is not none %}
                            {{user[2]}}
                        {%else%}
                            vazio
                        {%endif%}
                    </td>
                </tr>
                <td></td>
                <td></td>
            {%endfor%}
        </table>
        {% endif %}
    </main>
</body>

    <script>
        function formatarCPF() {
            var cpf = document.getElementById('cpf');
            var valor = cpf.value;
            
            valor = valor.replace(/\D/g, ""); // Remove tudo o que não é dígito
            valor = valor.replace(/(\d{3})(\d)/, "$1.$2"); // Coloca um ponto entre o terceiro e o quarto dígitos
            valor = valor.replace(/(\d{3})(\d)/, "$1.$2"); // Coloca um ponto entre o terceiro e o quarto dígitos de novo (para o segundo bloco de números)
            valor = valor.replace(/(\d{3})(\d{1,2})$/, "$1-$2"); // Coloca um hífen entre o terceiro e o quarto dígitos
            
            cpf.value = valor;
        }
    </script>

</html>