// FONTES
$fonte: 'Roboto', sans-serif;
$tamanho-do-texto: 3rem;

// CORES
$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-fundo: #74959a49;
$cor-terciaria: #F1E0AC;
$cor-quaternaria: #D7B9D5;
$cor-quaternaria-ofuscada: #d7b9d5d2;
$cor-quintenaria: #F4CAE0;