<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/python.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">IMC</h1>
        <h3 class="cabecalho__subtitulo">Calculador de IMC</h3>
    </header>
    <main class="principal">
        <section class="campo">
            <form action="" class="formulario">
                <label for="peso">Peso: </label>
                <input type="number" name="peso" id="peso"><br>
                <label for="altura">Altura: </label>
                <input type="number" name="altura" id="altura"><br>
                <input type="button" value="Enviar" onclick="Calcular()">
                <input type="reset" value="Limpar">
            </form>
        </section>
    </main>
    <footer class="rodape">
        Site criado por <strong><a href="https://github.com/LeoCarrijo">@LeoCarrijo</a></strong>
    </footer>
</body>
</html>